<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lapsen.intelligentboiler">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".app.IBApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--主Activity-->
        <activity android:name=".activities.MainActivity"/>
        <!--主要activity-->
        <activity android:name=".activities.MajorActivity"/>
        <!--实时监控activity-->
        <activity android:name=".activities.RealTimeMonitoringActivity"/>
        <!--数据分析activity-->
        <activity android:name=".activities.DataAnalysisActivity"/>
        <!--优化建议activity-->
        <activity android:name=".activities.SuggestionActivity"/>
        <!--维修保养activity-->
        <activity android:name=".activities.MaintenanceActivity"/>
        <!--安全报警activity-->
        <activity android:name=".activities.SecurityAlarmActivity"/>
        <!--个人中心activity-->
        <activity android:name=".activities.PersonalCenterActivity"/>
        <!--登录Activity-->
        <activity android:name=".activities.LoginActivity"/>
        <!--选择演示activity-->
        <activity android:name=".activities.SelectDemonstrateActivity"/>
        <!--个人中心子Activity-->
        <activity android:name=".activities.SubPersonalCenterActivity"/>
    </application>

</manifest>